<!DOCTYPE html>
<html lang="en">
<head>
  <title>JsonGenerator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet" href="/stylesheets/tabulator.css">
  <link rel="stylesheet" href="/stylesheets/tabulator_modern.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="/js/tabulator.js"></script>
  <script type="text/javascript" src="/js/footerFixed.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/hello">JsonGenerator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
    </div>
</nav>

<div class="container">
  <form action="/json" method="GET">
    <div class="d-grid col-4 mx-auto">
    <div class="container">
      <div class="row">
        <div class="col">
          <div>
            <p>生成する件数</p>
          </div>
        </div>
        <div class="col">
          <div class="d-grid mx-auto">
            <select name="count" id="count">
              <option value="10">10件</option>
              <option value="20">20件</option>
              <option value="30">30件</option>
              <option value="40">40件</option>
              <option value="50">50件</option>
              <option value="60">60件</option>
              <option value="70">70件</option>
              <option value="80">80件</option>
              <option value="90">90件</option>
              <option value="100">100件</option>
              </select>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="d-grid gap-2 col-2 mx-auto mt-1">
        <button class="btn btn-primary" type="submit">json生成</button>
    </div>

    <div class="d-grid gap-2 col-2 mx-auto mt-3">
      <button class="btn btn-primary" type="button" onclick="OnButtonClick();">生成</button>
    </div>

    <div id="example-table" class="d-grid mt-3"></div>
    <script>
      function OnButtonClick() {
        $(document).ready(function () {
          var countList = document.getElementById("count");
          $.ajax({ url: 'http://localhost:3000/json?count='+countList.value, dataType: 'json' })
            .done(function (jsondata) {
                    var table = new Tabulator("#example-table", {
                      pagination:"local",
                      paginationSize:10,
                      paginationSizeSelector:[10, 25, 50, 100],
                      data:jsondata,
                      columnMaxWidth:300,
                      columns:[
                        {title:"fullname", field:"fullname", sortable:true, width:200},
                        {title:"mailaddr", field:"mailaddr", sortable:true},
                        {title:"zipcode", field:"zipcode", sortable:true, width:200},
                        {title:"password", field:"password", sortable:true, width:200},
                        {title:"companyname", field:"companyname", sortable:true, width:200},
                        {title:"words", field:"words", sortable:true},
                        {title:"url", field:"url", sortable:true},
                      ]
                    });
            })
            .fail(function () {
              window.alert('読み込みエラー');
            });
        });
      }
    </script>
  </form>
</div>

<footer id="footer">
    <p>© ishimaru-alt 2021</p>
</footer>

</body>
</html>