body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
  padding: 100px;
}

footer{
  background-color:lightgray;
  text-align: center;
  height: 100px;
}

